ADF-Retail-DEV-avi/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-Retail-DEV-avi"
		},
		"LS_ADLS_Retail_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stretaildev001avishek.dfs.core.windows.net/"
		},
		"LS_KeyVault_Retail_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KV-Retail-Dev-avi.vault.azure.net/"
		},
		"LS_AWS_S3_Retail_properties_typeProperties_accessKeyId": {
			"type": "object",
			"defaultValue": {
				"type": "AzureKeyVaultSecret",
				"store": {
					"referenceName": "LS_KeyVault_Retail",
					"type": "LinkedServiceReference"
				},
				"secretName": "aws-access-key"
			}
		},
		"LS_AzureSQL_Retail_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-retail-dev-avi01.database.windows.net"
		},
		"LS_AzureSQL_Retail_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW"
		},
		"LS_AzureSQL_Retail_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Retail_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KeyVault_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KeyVault_Retail_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Error_Sales_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "error"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Processed_Sales_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "processed"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Raw_Customer_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customer_data.csv",
						"folderPath": "customer",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "CustomerSegment",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Raw_Product_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "product_data.csv",
						"folderPath": "product",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "CostPrice",
						"type": "String"
					},
					{
						"name": "SellingPrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Raw_Sales_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sales_data.csv",
						"folderPath": "sales",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrderID",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "SalesChannel",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AWS_S3_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('LS_AWS_S3_Retail_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KeyVault_Retail",
							"type": "LinkedServiceReference"
						},
						"secretName": "aws-secret-key"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KeyVault_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQL_Retail_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQL_Retail_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQL_Retail_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KeyVault_Retail",
							"type": "LinkedServiceReference"
						},
						"secretName": "sql-admin-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KeyVault_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQL_FactSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FactSalesID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "OrderID",
						"type": "varchar"
					},
					{
						"name": "CustomerID",
						"type": "varchar"
					},
					{
						"name": "ProductID",
						"type": "varchar"
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "OrderDate",
						"type": "date"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "SalesChannel",
						"type": "varchar"
					},
					{
						"name": "TotalAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CustomerCategory",
						"type": "varchar"
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FactSales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_Customer_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AWS_S3_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "azure-retail",
						"folderPath": "source",
						"fileName": "customer_data.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "CustomerSegment",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AWS_S3_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_Product_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AWS_S3_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "azure-retail",
						"folderPath": "source",
						"fileName": "product_data.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "CostPrice",
						"type": "String"
					},
					{
						"name": "SellingPrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AWS_S3_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_Sales_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AWS_S3_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "azure-retail",
						"folderPath": "source",
						"fileName": "sales_data.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrderID",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "SalesChannel",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AWS_S3_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Sales_Cleansing')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Raw_Sales_CSV",
								"type": "DatasetReference"
							},
							"name": "SourceRawSales"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Processed_Sales_Parquet",
								"type": "DatasetReference"
							},
							"name": "SinkProcessedSalesParquet"
						},
						{
							"dataset": {
								"referenceName": "DS_ADLS_Error_Sales_Parquet",
								"type": "DatasetReference"
							},
							"name": "SinkErrorSalesParquet"
						}
					],
					"transformations": [
						{
							"name": "DerivedSalesStandardizedColumns"
						},
						{
							"name": "DerivedSalesValidationFlags"
						},
						{
							"name": "SplitValidInvalidSales"
						},
						{
							"name": "WindowOrderDeduplication"
						},
						{
							"name": "FilterFirstOrderRecord"
						},
						{
							"name": "DerivedCustomerCategory"
						},
						{
							"name": "SelectFinalProcessedSalesColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          OrderID as string,",
						"          CustomerID as string,",
						"          ProductID as string,",
						"          Quantity as string,",
						"          UnitPrice as string,",
						"          OrderDate as string,",
						"          Country as string,",
						"          SalesChannel as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceRawSales",
						"SourceRawSales derive(Quantity_Int = toInteger(Quantity),",
						"          UnitPrice_Decimal = toDecimal(UnitPrice,10,2),",
						"          OrderDate_Clean = toDate(OrderDate),",
						"          Country_Clean = upper(trim(Country)),",
						"          TotalAmount = toInteger(Quantity) * toDecimal(UnitPrice,10,2),",
						"          LoadDate = currentTimestamp()) ~> DerivedSalesStandardizedColumns",
						"DerivedSalesStandardizedColumns derive(RejectReason = case(\r",
						"    isNull(CustomerID) || trim(CustomerID) == '', 'NULL_CUSTOMER',\r",
						"    isNull(Quantity_Int) || Quantity_Int <= 0, 'INVALID_QUANTITY',\r",
						"    isNull(UnitPrice_Decimal) || UnitPrice_Decimal <= 0, 'INVALID_UNIT_PRICE',\r",
						"    isNull(Country_Clean) || trim(Country_Clean) == '', 'MISSING_COUNTRY',\r",
						"    Country_Clean != 'USA' && Country_Clean != 'CANADA' && Country_Clean != 'UK' && Country_Clean != 'INDIA', 'INVALID_COUNTRY',\r",
						"    ''\r",
						")) ~> DerivedSalesValidationFlags",
						"DerivedSalesValidationFlags split(RejectReason == '',",
						"     RejectReason != '',",
						"     disjoint: false) ~> SplitValidInvalidSales@(ValidSalesRows, InvalidSalesRows)",
						"SplitValidInvalidSales@ValidSalesRows window(over(OrderID),",
						"     asc(OrderDate_Clean, true),",
						"     OrderRowNumber = rowNumber()) ~> WindowOrderDeduplication",
						"WindowOrderDeduplication filter(OrderRowNumber == 1) ~> FilterFirstOrderRecord",
						"FilterFirstOrderRecord derive(CustomerCategory = case(\r",
						"    TotalAmount >= 1000, 'Premium',\r",
						"    'Standard'\r",
						")) ~> DerivedCustomerCategory",
						"DerivedCustomerCategory select(mapColumn(",
						"          OrderID,",
						"          CustomerID,",
						"          ProductID,",
						"          Quantity = Quantity_Int,",
						"          UnitPrice = UnitPrice_Decimal,",
						"          OrderDate = OrderDate_Clean,",
						"          Country = Country_Clean,",
						"          SalesChannel,",
						"          TotalAmount,",
						"          LoadDate,",
						"          CustomerCategory",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectFinalProcessedSalesColumns",
						"SelectFinalProcessedSalesColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SinkProcessedSalesParquet",
						"SplitValidInvalidSales@InvalidSalesRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SinkErrorSalesParquet"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Processed_Sales_Parquet')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Error_Sales_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Parquet_To_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Processed_Sales_To_FactSales",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "sales",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.FactSales;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OrderID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "OrderID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "Quantity",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal",
											"physicalType": "DECIMAL",
											"scale": 2,
											"precision": 10
										},
										"sink": {
											"name": "UnitPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "OrderDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SalesChannel",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesChannel",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TotalAmount",
											"type": "Decimal",
											"physicalType": "DECIMAL",
											"scale": 2,
											"precision": 21
										},
										"sink": {
											"name": "TotalAmount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "CustomerCategory",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CustomerCategory",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "INT96"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_Processed_Sales_Parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureSQL_FactSales",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Audit_Parquet_To_SQL_Load",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_Processed_Sales_To_FactSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_InsertETLAuditLog]",
							"storedProcedureParameters": {
								"ActivityName": {
									"value": "Copy_Processed_Sales_To_FactSales",
									"type": "String"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LoadEndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LoadStartTime": {
									"value": "@pipeline().TriggerTime",
									"type": "DateTime"
								},
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "String"
								},
								"RowsLoaded": {
									"value": "@activity('Copy_Processed_Sales_To_FactSales').output.rowsCopied",
									"type": "Int32"
								},
								"RunID": {
									"value": "@pipeline().RunId",
									"type": "String"
								},
								"Status": {
									"value": "Succeeded",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL_Retail",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Processed_Sales_Parquet')]",
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_FactSales')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_S3_To_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Metadata_Sales",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_S3_Sales_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If_Sales_File_Valid",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_Metadata_Sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(\n    equals(activity('Get_Metadata_Sales').output.exists, true),\n    greater(activity('Get_Metadata_Sales').output.size, 0)\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail_Sales_File_Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "sales_data.csv is missing or empty in AWS S3 path azure-retail/source/sales_data.csv",
										"errorCode": "SALES_FILE_VALIDATION_FAILED"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy_Sales_S3_To_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_S3_Sales_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Raw_Sales_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get_Metadata_Customer",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_S3_Customer_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If_Customer_File_Valid",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_Metadata_Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(equals(activity('Get_Metadata_Customer').output.exists,true),greater(activity('Get_Metadata_Customer').output.size,0))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail_Customer_File_Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "customer_data.csv is missing or empty in AWS S3 path azure-retail/source/customer_data.csv",
										"errorCode": "CUSTOMER_FILE_VALIDATION_FAILED"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy_Customer_S3_To_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_S3_Customer_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Raw_Customer_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get_Metadata_Product",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_S3_Product_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If_Product_File_Valid",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_Metadata_Product",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(equals(activity('Get_Metadata_Product').output.exists,true),greater(activity('Get_Metadata_Product').output.size,0))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail_Product_File_Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "product_data.csv is missing or empty in AWS S3 path azure-retail/source/product_data.csv",
										"errorCode": "PRODUCT_FILE_VALIDATION_FAILED"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy_Product_S3_To_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_S3_Product_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Raw_Product_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_S3_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Product_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Product_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_S3_To_ADLS_Basic_Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Sales_S3_To_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3_Sales_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Raw_Sales_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Customer_S3_To_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3_Customer_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Raw_Customer_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Product_S3_To_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3_Product_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Raw_Product_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-15T19:57:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_S3_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Product_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Product_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sales_Transformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run_DF_Sales_Cleansing",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Sales_Cleansing",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceRawSales": {},
									"SinkProcessedSalesParquet": {},
									"SinkErrorSalesParquet": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Sales_Cleansing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master_Retail_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run_S3_To_ADLS_Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_S3_To_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Run_Sales_Transformation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run_S3_To_ADLS_Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Sales_Transformation",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Run_Parquet_To_SQL_Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run_Sales_Transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Parquet_To_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_S3_To_ADLS')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Sales_Transformation')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Parquet_To_SQL')]"
			]
		}
	]
}