adf/pipeline/PL_S3_To_ADLS.json
{
	"name": "PL_S3_To_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_Sales",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_S3_Sales_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"size",
						"lastModified"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If_Sales_File_Valid",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Metadata_Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n    equals(activity('Get_Metadata_Sales').output.exists, true),\n    greater(activity('Get_Metadata_Sales').output.size, 0)\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail_Sales_File_Missing",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "sales_data.csv is missing or empty in AWS S3 path azure-retail/source/sales_data.csv",
								"errorCode": "SALES_FILE_VALIDATION_FAILED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy_Sales_S3_To_ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_S3_Sales_CSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Raw_Sales_CSV",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}