ADF-Retail-DEV-avi/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-Retail-DEV-avi"
		},
		"LS_ADLS_Retail_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stretaildev001avishek.dfs.core.windows.net/"
		},
		"LS_AWS_S3_Retail_properties_typeProperties_accessKeyId": {
			"type": "object",
			"defaultValue": {
				"type": "AzureKeyVaultSecret",
				"store": {
					"referenceName": "LS_KeyVault_Retail",
					"type": "LinkedServiceReference"
				},
				"secretName": "aws-access-key"
			}
		},
		"LS_AzureSQL_Retail_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-retail-dev-avi01.database.windows.net"
		},
		"LS_AzureSQL_Retail_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW"
		},
		"LS_AzureSQL_Retail_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin01"
		},
		"LS_KeyVault_Retail_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KV-Retail-Dev-avi.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_S3_To_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Metadata_Sales",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_S3_Sales_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If_Sales_File_Valid",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_Metadata_Sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(\n    equals(activity('Get_Metadata_Sales').output.exists, true),\n    greater(activity('Get_Metadata_Sales').output.size, 0)\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail_Sales_File_Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "sales_data.csv is missing or empty in AWS S3 path azure-retail/source/sales_data.csv",
										"errorCode": "SALES_FILE_VALIDATION_FAILED"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy_Sales_S3_To_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_S3_Sales_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Raw_Sales_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get_Metadata_Customer",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_S3_Customer_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If_Customer_File_Valid",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_Metadata_Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(equals(activity('Get_Metadata_Customer').output.exists,true),greater(activity('Get_Metadata_Customer').output.size,0))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail_Customer_File_Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "customer_data.csv is missing or empty in AWS S3 path azure-retail/source/customer_data.csv",
										"errorCode": "CUSTOMER_FILE_VALIDATION_FAILED"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy_Customer_S3_To_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_S3_Customer_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Raw_Customer_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get_Metadata_Product",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_S3_Product_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If_Product_File_Valid",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get_Metadata_Product",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(equals(activity('Get_Metadata_Product').output.exists,true),greater(activity('Get_Metadata_Product').output.size,0))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail_Product_File_Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "product_data.csv is missing or empty in AWS S3 path azure-retail/source/product_data.csv",
										"errorCode": "PRODUCT_FILE_VALIDATION_FAILED"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy_Product_S3_To_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_S3_Product_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Raw_Product_CSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_S3_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Product_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Product_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_S3_To_ADLS_Basic_Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Sales_S3_To_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3_Sales_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Raw_Sales_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Customer_S3_To_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3_Customer_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Raw_Customer_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Product_S3_To_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3_Product_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Raw_Product_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-15T19:57:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_S3_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Customer_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3_Product_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Product_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Error_Sales_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "error"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Processed_Sales_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "processed"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Raw_Customer_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customer_data.csv",
						"folderPath": "customer",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "CustomerSegment",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Raw_Product_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "product_data.csv",
						"folderPath": "product",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "CostPrice",
						"type": "String"
					},
					{
						"name": "SellingPrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Raw_Sales_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sales_data.csv",
						"folderPath": "sales",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrderID",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "SalesChannel",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_Customer_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AWS_S3_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "azure-retail",
						"folderPath": "source",
						"fileName": "customer_data.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "CustomerSegment",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AWS_S3_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_Product_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AWS_S3_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "azure-retail",
						"folderPath": "source",
						"fileName": "product_data.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "CostPrice",
						"type": "String"
					},
					{
						"name": "SellingPrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AWS_S3_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3_Sales_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AWS_S3_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "azure-retail",
						"folderPath": "source",
						"fileName": "sales_data.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrderID",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "SalesChannel",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AWS_S3_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Retail_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AWS_S3_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('LS_AWS_S3_Retail_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KeyVault_Retail",
							"type": "LinkedServiceReference"
						},
						"secretName": "aws-secret-key"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KeyVault_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQL_Retail_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQL_Retail_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQL_Retail_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KeyVault_Retail",
							"type": "LinkedServiceReference"
						},
						"secretName": "sql-admin-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KeyVault_Retail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KeyVault_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KeyVault_Retail_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Sales_Cleansing')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Raw_Sales_CSV",
								"type": "DatasetReference"
							},
							"name": "SourceRawSales"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Processed_Sales_Parquet",
								"type": "DatasetReference"
							},
							"name": "SinkProcessedSalesParquet"
						},
						{
							"dataset": {
								"referenceName": "DS_ADLS_Error_Sales_Parquet",
								"type": "DatasetReference"
							},
							"name": "SinkErrorSalesParquet"
						}
					],
					"transformations": [
						{
							"name": "DerivedSalesStandardizedColumns"
						},
						{
							"name": "DerivedSalesValidationFlags"
						},
						{
							"name": "SplitValidInvalidSales"
						}
					],
					"scriptLines": [
						"source(output(",
						"          OrderID as string,",
						"          CustomerID as string,",
						"          ProductID as string,",
						"          Quantity as string,",
						"          UnitPrice as string,",
						"          OrderDate as string,",
						"          Country as string,",
						"          SalesChannel as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceRawSales",
						"SourceRawSales derive(Quantity_Int = toInteger(Quantity),",
						"          UnitPrice_Decimal = toDecimal(UnitPrice,10,2),",
						"          OrderDate_Clean = toDate(OrderDate),",
						"          Country_Clean = upper(trim(Country)),",
						"          TotalAmount = toInteger(Quantity) * toDecimal(UnitPrice,10,2),",
						"          LoadDate = currentTimestamp()) ~> DerivedSalesStandardizedColumns",
						"DerivedSalesStandardizedColumns derive(RejectReason = case(\r",
						"    isNull(CustomerID) || trim(CustomerID) == '', 'NULL_CUSTOMER',\r",
						"    isNull(Quantity_Int) || Quantity_Int <= 0, 'INVALID_QUANTITY',\r",
						"    isNull(UnitPrice_Decimal) || UnitPrice_Decimal <= 0, 'INVALID_UNIT_PRICE',\r",
						"    isNull(Country_Clean) || trim(Country_Clean) == '', 'MISSING_COUNTRY',\r",
						"    Country_Clean != 'USA' && Country_Clean != 'CANADA' && Country_Clean != 'UK' && Country_Clean != 'INDIA', 'INVALID_COUNTRY',\r",
						"    ''\r",
						")) ~> DerivedSalesValidationFlags",
						"DerivedSalesValidationFlags split(RejectReason == '',",
						"     RejectReason != '',",
						"     disjoint: false) ~> SplitValidInvalidSales@(ValidSalesRows, InvalidSalesRows)",
						"SplitValidInvalidSales@ValidSalesRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SinkProcessedSalesParquet",
						"SplitValidInvalidSales@InvalidSalesRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SinkErrorSalesParquet"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Raw_Sales_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Processed_Sales_Parquet')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Error_Sales_Parquet')]"
			]
		}
	]
}